<div fxLayout="row wrap">
    <div fxFlex="50%" class="video">
        <app-video-player [videoUrl]="videoUrl"></app-video-player>
    </div>
    <div fxFlex="35%" class="form">
        <form [formGroup]="savedVideoDetailForm">
            <mat-form-field class="w-full">
                <mat-label>Title</mat-label>
                <input matInput required [formControl]="title" />
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Description</mat-label>
                <textarea matInput required [formControl]="description"></textarea>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Video Status</mat-label>
                <mat-select [formControl]="videoStatus">
                    <mat-option value="PUBLIC">PUBLIC</mat-option>
                    <mat-option value="PRIVATE">PRIVATE</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-chip-list" class="w-full">
                <mat-label>Tags</mat-label>
                <mat-chip-grid #chipGrid aria-label="Enter fruits">
                    @for (tag of tags; track tag) {
                    <mat-chip-row (removed)="remove(tag)" [editable]="true" (edited)="edit(tag, $event)"
                        [aria-description]="'press enter to edit ' + tag">
                        {{tag}}
                        <button matChipRemove [attr.aria-label]="'remove ' + tag">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    }
                    <input placeholder="Add tag..." [matChipInputFor]="chipGrid" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" />
                </mat-chip-grid>
            </mat-form-field>
            <div>
                <br>
                <label for="inputGroupFile01">Upload thumbnail:
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            (change)="onFileSelected($event)" aria-describedby="inputGroupFileAddon01">
                    </div>
                    <div *ngIf="fileSelected">
                        <div>
                            <p>Selected file: {{selectedFileName}}</p>
                        </div>
                    </div>
                </label>
            </div>
            <br>
            <div>
                <button type="submit" mat-raised-button (click)="saveVideo()" color="primary">Save</button>
            </div>
        </form>

    </div>
</div>