<mat-sidenav [mode]="'side'" opened>
    <mat-nav-list role="list">
        <mat-list-item role="listitem" routerLink="/featured">
            <p matLine><mat-icon mat-list-icon>home</mat-icon> Home</p>
        </mat-list-item>
        <mat-list-item role="listitem" routerLink="/subscriptions">
            <p matLine><mat-icon mat-list-icon>subscriptions</mat-icon> Subscriptions</p>
        </mat-list-item>

        <mat-list-item role="listitem" routerLink="/history">
            <p matLine><mat-icon mat-list-icon>history</mat-icon> History</p>
        </mat-list-item>

        <mat-list-item role="listitem" routerLink="/liked-videos">
            <p matLine><mat-icon mat-list-icon>thumb_up</mat-icon> Liked Videos</p>
        </mat-list-item>
    </mat-nav-list>
</mat-sidenav>